C4/C4Engine.exe
C4/configs.lnk
C4/EngineCode/*
C4/GameCode/*
C4/Data/C4/*
C4/Data/Demo/*
C4/Data/Plugins/*
C4/Data/The31st.pak
C4/Data/Tools/*
C4/Data/Tutorial/*
C4/Game.dll
C4/Import/C4/*
C4/Import/Demo/*
C4/Import/Tools/*
C4/Import/Tutorial/*
C4/Leapd.dll
C4/Linux/*
C4/PluginCode/*
C4/Plugins/*
C4/SDK/*
C4/VisualStudio2013/*
LeapSDK/*
OculusSDK/*
C4/msvcp120d.dll
C4/msvcr120d.dll
C4/SimpleBall.dll
C4/SimpleChar.dll
C4/Xcode4/*
C4/TBGC4_Version_2/*
C4/_MACOSX/Xcode4/*
*.opensdf
C4/Data/Lake/*
C4/Import/Lake/*
C4/Data/MQP/AdamsSecretLab.wld
*.obj
*.tlog
*.log
*.tlog
*.tlog
*.idb

C4/MQP.dll
C4/MQP.dll
*.dll
*.lib
MQP/MQP.sdf
*.suo
*.lib
C4/MQP.dll
C4/Data/MQP/level1.wld